main{
    .cajis1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        .mision{
            h4{
                font-size: 22px;
                color: rgb(180, 21, 21);
            }
            background-color:#FFF0C9;
            width: 300px;
            margin: 1rem;
            padding: 10px;
            height: 180px;
            overflow: auto;
            border: 5px;
            border-radius: 5%;
            display: inline-block;
            font-family: 'Poppins', sans-serif;
            text-align: center;
            grid-area: mision;
            transition: all 0.7s ease;
        }
        .vision{
            h4{
                font-size: 22px;
                color: rgb(180, 21, 21);
            }
            background-color:#FFF0C9;
            width: 300px;
            margin: 1rem;
            padding: 10px;
            height: 180px;
            overflow: auto;
            border: 5px;
            border-radius: 5%;
            display: inline-block;
            font-family: 'Poppins', sans-serif ;
            text-align: center;
            grid-area: vision;
            transition: all 0.7s ease;
        }
        .cultura{
            h4{
                font-size: 22px;
                color: rgb(180, 21, 21);
            }
            background-color:#FFF0C9;
            width: 300px;
            margin: 1rem;
            padding: 10px;
            height: 180px;
            overflow: auto;
            border: 5px;
            border-radius: 5%;
            display: inline-block;
            font-family: 'Poppins', sans-serif ;
            text-align: center;
            grid-area: cultura;
            transition: all 0.7s ease;
        }
        .valores{
            h4{
                font-size: 22px;
                color: rgb(180, 21, 21);
            }
            background-color:#FFF0C9;
            width: 300px;
            margin: 1rem;
            padding: 10px;
            height: 180px;
            overflow: auto;
            border: 5px;
            border-radius: 5%;
            list-style-type: none;
            display: inline-block;
            font-family: 'Poppins', sans-serif ;
            text-align: center;
            grid-area: valores;
            transition: all 0.7s ease;
        }
        .scale:hover{
            transform: scale(1.1, 1.1);
            border-radius: 30px;
        }
    }
    .cajis2{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        justify-content: space-evenly;
        align-items: center;
        .form{
            width: 30rem;
            text-align: center;
            background: #fff0c94b;
            .contact{
                color: black;
                font-family: 'Poppins', sans-serif ;
                margin: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 18px;
                .chij{
                    border:none;
                    outline: none;
                    background-color:#fff0c985 ;
                    border-bottom:  2px solid red;
                    width: 100%;
                    margin-bottom: 2px;
                    border-radius: 2px;
                    font-size: 12px;
                    .finput{
                        background-color: #fff0c985;
                        border: none;
                        outline: none;
                        border-bottom: 2px solid red;
                        width: 100%;
                        margin-bottom: 20px;
                        border-radius: 2px;
                        padding: 12px;
                        font-family: 'Poppins', sans-serif;
                    }
                }
            }
        }
    }

    .titus1{
        width: 100%;
        color: black;
        text-align: center;
        font-family: 'Roboto Slab', serif;
        .t1{
            font-size: 38px;
         }
        .t2{
            font-size: 30px;
        }
    }
    h5{
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        color: black;
    }
    .productos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        .product{
            background-color:#FFF0C9;
            width: 300px;
            margin: 2rem;
            padding: 10px;
            height: 430px;
            overflow: auto;
            border: 5px;
            border-radius: 5%;
            display: inline-block;
            font-family: 'Poppins', sans-serif ;
            text-align: center;
            .pi{
                width: 270px;
                height: 350px;
                padding: 0.5rem;
                border-radius: 5%;
                transition: all 0.7s ease; 
            }
            .scale:hover{
                transform: scale(1.1, 1.1);
                border-radius: 30px;
            }
            .desp{
                margin-top: 1rem;
            }
        }
    }
    .contenedor{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
        "descript descript descript"
        "list list list";
        .descript{
            grid-area: descript;
            margin-top: 4rem;
            .descrip{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                .d1{
                    width: 8rem;
                }
                .d2{
                    width: 8rem;
                }
                .d3{
                    width: 8rem;
                    padding-bottom: 1rem;
                }
                
                
            }
        }

        .list{
            grid-area: list;
            margin-top: 1rem;
            .listas{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                .i1{
                    width: 8rem;
                    transition: all 0.4s ease;
                }
                .i2{
                    width: 8rem;
                    transition: all 0.4s ease;
                }
                .i3{
                    width: 8rem;
                    transition: all 0.4s ease;
                }
                .scale1:hover{
                    transform: scale(1.1, 1.1);
                }
            }
        }
       
    }
    @media screen and (max-width: 768px){
        .contenedor{
            grid-template-areas: 
            "descript descript list"
            "descript descript list"
            "descript descript list";
            ;
            .list{
                grid-area: list;
                margin-top: 1rem;
                .listas{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    margin-top: 2rem;
                }
            }
            .descript{
                grid-area: descript;
                margin-top: 4rem;
                .descrip{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    .d1{
                        width: 8rem;
                        margin-bottom: 6rem;
                    
                    }
                    .d2{
                        width: 8rem;
                        margin-top: 3rem;
                        margin-bottom: 6rem;
                    }
                    .d3{
                        width: 8rem;
                        margin-top: 3rem;
                    }
                }
            }
        }
        
        

    }

}   