@import "var";
@import "header";
@import "main";
@import "footer";
@import "menu";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../fotos/4.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}